body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
}
.container{
    width: 50vw;
    border: 2px solid white;
    display: flex;
    justify-content: center;
}
.checkbox{
    width: 28px;
    height: 28px;
    border-radius: 10px;
}
.date{
    width: 150px;
    border-radius: 20px;
    border: 2px solid rgb(122, 148, 250);
    padding: 12px;
    font-weight: bold;
    font-size: 18px;
}
.myfile{
    background-color: black;
    border-radius: 18px;
    padding: 12px;
    color: white;
}

